:root {
    --mediumTan: #FDeBD6;
    --lightTan: #fDF5EA;
    --bubbleWhite: #f9f9ffe9;
    --blackCoffee: #150703;
    --lessBlackCoffee: #232b24fe;
}

html {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-padding-top: 120px;
    scroll-behavior: smooth;
}
body {
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: var(--mediumTan);
}
hr {
    margin: 0 10%;
}

.bubble {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: var(--bubbleWhite);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    padding: 20px;
    border-radius: 10px;
    margin: 6% 5% 0 5%;
}
.bubbleTitle {
    padding: 0;
    margin: 4px 0;
    font-size: 1.6em;
}
.bubbleText {
    padding: 0;
    margin: 2px 0;
}
#salutation {
    text-align: left;
    animation: slideDown 0.6s ease-in forwards;
}
#description {
    opacity: 0;
    animation: slideDown 1s ease-in forwards;
    animation-delay: 0.2s;
    min-width: 300px;
    width: 70%;
    justify-self: center;
}
@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.headerContent {
    display: flex;
    background-color: var(--blackCoffee);
    color: var(--bubbleWhite);
    height: 120px;
    border-radius: 0 0 10px 10px;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 4;
}
.businessName {
    position: absolute;
    top: 26px;
    left: 8%;
    font-family: "Style Script";
    font-weight: 400;
    font-size: 2.2em;
}
#fbLink {
    position: absolute;
    top: 8px;
    right: 2%;
    background-color: rgba(173, 216, 230, 0.34);
    padding: 4px 8px;
    border-radius: 20px;
}
#fbLink a{
    display: flex;
    align-items: center;
    color: var(--bubbleWhite);
    text-decoration: none;
    font-size: 1em;
    align-self: center;
    margin: 0 2px;
}
.fbLogo {
    position: absolute;
    top: -16%;
    right: 94%;
    width: 20px;
    height: auto;
    z-index: 3;
}
.backgroundForLogo {
    position: absolute;
    top: -16%;
    right: 94%;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--bubbleWhite);
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navLinks {
    position: absolute;
    top: 90px;
    right: 0;
    list-style: none;
    display: flex; 
    flex-direction: column;
    gap: 20px;
    padding: 10px 16px;
    background-color: var(--blackCoffee);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.6);
    border-radius: 8px 0 8px 8px;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: all 0.3s ease-in-out;
    z-index: 3;
}
.navLinks li {
    width: 100%;
    background-color: var(--lessBlackCoffee);
    display: flex;
    justify-content: center;
    border-radius: 5px;
    padding: 2px 6px;
    box-shadow: 0 2px 3px #ffffff90;
}
.navLink {
    color: var(--bubbleWhite);
    text-decoration: none;
    font-size: 1.2em;
}
#navLogo {
    position: absolute;
    top: 8px;
    left: 8px;
    width: 44px;
    height: auto;
    border-radius: 50%;
    cursor: pointer;
}
.menuIcon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    gap: 5px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.6);
    padding: 3px;
    border-radius: 20%;
    position: absolute;
    top: 55px;
    right: 12px;
    background-color: var(--lightTan);
}
.menuIcon span {
    width: 34px;
    height: 4px;
    background-color: #333;
    border-radius: 3px;
    transition: 0.5s;
}
#menuToggle {
    position: absolute;
    opacity: 0;
    width: 40px;
    height: 40px;
    z-index: 5;
    top: 55px;
    right: 12px;
    cursor: pointer;
}
#menuToggle:checked ~ .navLinks {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.homeImage {
    position: absolute;
    top: 180px;
    width: 100%;
    height: auto;
    max-height: 1000px;
    object-fit: cover;
    border-radius: 10px;
    z-index: -1;
}
.orderNowButton {
    position: absolute;
    bottom: -8%;
    right: 1%;
    background: linear-gradient(
                45deg, 
                var(--blackCoffee) 0%,
                var(--blackCoffee) 51%,
                #444444eb 52%, 
                #555555eb 54%,
                #444444eb 56%,
                var(--blackCoffee) 57%,
                var(--blackCoffee) 65%,
                #444444eb 66%, 
                #555555eb 67%,
                #444444eb 68%,
                var(--blackCoffee) 71%,
                var(--blackCoffee) 100%
            );
    background-size: 400%;
    color: var(--bubbleWhite);
    border: none;
    border-radius: 20px;
    font-size: 1.2em;
    padding: 6px 8px;
    cursor: pointer;
    margin-top: 10px;
    text-decoration: none;
    display: flex;
    place-self: center;
    animation: sweepingGradient 6s ease-in-out infinite;
    box-shadow: -2px -2px 8px #555555db;
    border: solid 1px var(--bubbleWhite);
}

#specials {
    opacity: 0;
    animation: slideUp 1s ease-in-out forwards;
    animation-delay: 0.5s;
    min-width: 300px;
    width: 70%;
    justify-self: center;
}
.specialsSlideshow {
    animation: slideShow 15s ease-in-out infinite;
}
.cardWindow {
    width: 300px;
    height: 400px;
    overflow: hidden;
    border-radius: 10px;
    margin: 0 auto;
}
@keyframes slideUp {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.cardWindowTitle {
    font-family: "Style Script";
    font-size: 2.5em;
    padding: 0;
    margin: -10px 0 4px 0;
}
.cardWrapper {
    display: flex;
    width: 900px;
}
.aboutSlideshow {
    animation: slideShow 21s ease-in-out infinite;
}
.card {
    width: 300px;
    height: 400px;
    flex-shrink: 0;
}
.cardImage {
    width: 200px;
    height: 180px;
    object-fit: cover;
    margin: 0 0 4px 0;
}
@keyframes slideShow {
    0%, 30% { transform: translateX(0); }
    35%, 65% { transform: translateX(-300px); }
    70%, 95% { transform: translateX(-600px); }
}
.slideDotContainer {
    display: flex;
    justify-content: center;
    gap: 5px;
}
.slideShowDot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: var(--mediumTan);
}
#aboutDot1 {
    animation: dot1Tracker 21s ease-in-out infinite;
}
#dot1 {
    animation: dot1Tracker 15s ease-in-out infinite;
}
@keyframes dot1Tracker {
    0%, 30% { background-color: var(--blackCoffee); }
    35%, 65% { background-color: var(--mediumTan); }
    70%, 95% { background-color: var(--mediumTan); }
}
#aboutDot2 {
    animation: dot2Tracker 21s ease-in-out infinite;
}
#dot2 {
    animation: dot2Tracker 15s ease-in-out infinite;
}
@keyframes dot2Tracker {
    0%, 30% { background-color: var(--mediumTan); }
    35%, 65% { background-color: var(--blackCoffee); }
    70%, 95% { background-color: var(--mediumTan); }
}
#aboutDot3 {
    animation: dot3Tracker 21s ease-in-out infinite;
}
#dot3 {
    animation: dot3Tracker 15s ease-in-out infinite;
}
@keyframes dot3Tracker {
    0%, 30% { background-color: var(--mediumTan); }
    35%, 65% { background-color: var(--mediumTan); }
    70%, 95% { background-color: var(--blackCoffee); }
}

#menu {
    opacity: 0;
    animation: slideUp 1s ease-in-out forwards;
    animation-delay: 0.8s;
}
.bubbleButton {
    width: 120px;
    height: 36px;
    background: linear-gradient(
                45deg, 
                var(--blackCoffee) 0%,
                var(--blackCoffee) 51%,
                #444444eb 52%, 
                #555555eb 54%,
                #444444eb 56%,
                var(--blackCoffee) 57%,
                var(--blackCoffee) 65%,
                #444444eb 66%, 
                #555555eb 67%,
                #444444eb 68%,
                var(--blackCoffee) 71%,
                var(--blackCoffee) 100%
            );
    background-size: 400%;
    color: var(--bubbleWhite);
    border: none;
    border-radius: 20px;
    font-size: 1.2em;
    cursor: pointer;
    margin: 10px 0 0 0;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: sweepingGradient 6s ease-in-out infinite;
}
@keyframes sweepingGradient {
    0% {
        background-position: 0% 50%;
    }
    18% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}
.menuList {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.staticNavLinks {
    background-color: var(--blackCoffee);
    box-shadow: 0 2px 5px rgba(0,0,0,0.6);
    border-radius: 8px 8px 8px 0;
    display: flex;
    gap: 12px;
    justify-content: space-around;
    padding: 4px;
    animation: slideDown 0.8s ease-in-out forwards;
    list-style-type: none;
    margin-top: 140px;
}
#menuIntro {
    animation: slideUp 0.8s ease-in-out forwards;
}
.menuItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.menuTitle {
    font-size: 1.4em;
    padding: 0;
    margin: 4px 0;
}
.itemTitle {
    font-size: 1.2em;
    padding: 0;
    margin: 2px 0;
}
.itemDesc {
    padding: 0;
    margin: 6px 0;
}
.itemChoices {
    border: solid 2px black;
    border-radius: 10px;
    padding: 10px;
}
.offersContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-weight: 600;
}
.priceContainer {
    display: flex;
    width: 100%;
    flex-direction: row !important;
    justify-content: space-evenly;
    align-items: center;
}
.priceContainer hr {
    border: none;
    border-left: solid 1px #333;
    height: 40px;
    margin: 0 10px;
    align-self: center;
}
.soloPrice {
    display: flex;
    width: 100%;
    flex-direction: row !important;
    justify-content: center;
    align-items: center;
    gap: 4px;
}
.prettyTitle {
    font-family: "Style Script";
    font-weight: 600;
    font-size: 2.5em;
}
#espressoDrinks {
    opacity: 0;
    animation: slideUp 0.8s ease-in-out forwards;
    animation-delay: 0.2s;
}

#events {
    opacity: 0;
    animation: slideUp 1s ease-in-out forwards;
    animation-delay: 0.8s;
}

#contact {
    opacity: 0;
    animation: slideUp 1s ease-in-out forwards;
    animation-delay: 0.8s;
}

.footerContainer {
    display: flex;
    flex-direction: column;
    margin: 0;
}
.textSeparator {
    background-color: var(--lessBlackCoffee);
    color: var(--bubbleWhite);
    text-align: center;
    padding: 0;
    margin-top: 20px;
    font-size: 0.6em;
    border-radius: 10px 10px 0 0;
}
#contactAndHours h3, p {
    margin: 2px 0;
    padding: 2px 0;
}
#contactAndHours {
    display: flex;
    justify-content: center;
    background-color: var(--blackCoffee);
    padding: 8px 0;
    border-radius: 10px 10px 0 0;
}
.footerLogo {
    margin: 30px 0 20px 0;
    width: 60px;
    height: auto;
}
.footerBrand {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: "Style Script", cursive;
    font-size: 1.2em;
}
.footerContact {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
    flex-grow: 2;
    text-decoration: none;
}
.footerContact a {
    text-decoration: none;
    color: #7db7ff;
}
#footerSeparator {
    display: flex;
    justify-content: center;
    flex-grow: 3;
}
.footerHours {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
    flex-grow: 2;
}

/* Responsive Design */
@media screen and (min-width: 850px) {
    main {
        display: grid;
        grid-template-columns: 5fr 3fr;
        grid-auto-rows: min-content;
        grid-auto-flow: dense;
        place-items: center;
    }
    .navLinks {
        flex-direction: row;
        opacity: 1;
        visibility: visible;
        top: 100px;
    }
    .bubble {
        margin-top: 6%;
        width: 30%;
    }
    .menuIcon {
        display: none;
    }
    #menuToggle {
        display: none;
    }
    #fbLink {
        width: 120px;
        height: auto;
        top: 45px;
        right: 12px;
    }
    .businessName {
        top: 12px;
        font-size: 2.8em;
    }
    #menuNav {
        display: flex;
        width: 90%;
        flex-grow: 2;
    }
    .staticNavLinks {
        padding: 12px 10px;
    }
    #menuIntro {
        grid-column: 1 / 3;
        width: 70%;
        margin-top: 40px;
    }
    #specials {
        grid-column: 2;
        min-width: 300px;
        width: 60%;
        flex-shrink: 0;
        margin-right: 8%;
    }
    #drinks {
        grid-column: 1;
        width: 80%;
        margin-left: 8%;
    }
    #sweets {
        grid-column: 1;
        width: 80%;
        margin-left: 8%;
    }
    #breakfast {
        grid-column: 1;
        width: 80%;
        margin-left: 8%;
    }
    #lunch {
        grid-column: 2;
        min-width: 300px;
        width: 60%;
        margin-right: 8%;
    }
    .footerContact {
        margin-left: 20%;
    }
    .footerHours {
        margin-right: 20%;
    }
}